/Practica 1/guia1/nbproject/private/
/Practica 1/guia1/build/
/Practica 3/guia4/nbproject/private/
/Practica 3/guia4/build/
/Practica 4/guia4/nbproject/private/
/Practica 4/guia4/build/
/Practica 4/guia4/dist/