/Practica 1/guia1/nbproject/private/
/Practica 1/guia1/build/
/Practica 3/guia4/nbproject/private/
/Practica 3/guia4/build/
/Practica 4/guia4/nbproject/private/
/Practica 4/guia4/build/
/Practica 4/guia4/dist/
/ParcialSA120974/nbproject/private/
/ParcialSA120974/build/
/Desafio1/nbproject/private/
/Desafio1/build/
/Desafio1/dist/
/Practica 5/InvestigacionComplementaria/nbproject/private/
/Practica 5/InvestigacionComplementaria/build/
/InvestigacionComplementariaG6/JavaFXApplication2/nbproject/private/
/Practica 7/guia8/nbproject/private/
/Practica 7/guia7/nbproject/private/
/Practica 7/guia7/build/
/Practica 7/guia7/dist/
/Practica 7/InvestigacionComplementaria/nbproject/private/
/Practica 7/InvestigacionComplementaria/build/
/Practica 7/guia8/build/
/Practica 8/ServletsGuia8/nbproject/private/
/Practica 8/ServletsGuia8/dist/
/Practica 8/ServletsGuia8/build/
/Practica 8/guia8/build/
/Practica 8/guia8/nbproject/private/
/Practica 8/guia8Servlets/nbproject/private/
/Practica 8/guia8Servlets/dist/
/Practica 8/guia8Servlets/build/
/Practica 8/InvestigacionComplementaria/nbproject/private/
/Practica 8/InvestigacionComplementaria/build/