/Practica 1/guia1/nbproject/private/
/Practica 1/guia1/build/
/Practica 3/guia4/nbproject/private/
/Practica 3/guia4/build/
/Practica 4/guia4/nbproject/private/
/Practica 4/guia4/build/
/Practica 4/guia4/dist/
/ParcialSA120974/nbproject/private/
/ParcialSA120974/build/
/Desafio1/nbproject/private/
/Desafio1/build/
/Desafio1/dist/
/Practica 5/InvestigacionComplementaria/nbproject/private/
/Practica 5/InvestigacionComplementaria/build/